.seat-resize-icon {
    position: absolute;
    right: -5px;
    bottom: -5px;
    width: 15px;
    height: 15px;
}

.seat-selected-color {
    background-color: #83e8fa;
}

.fade-enter-active,
.fade-leave-active {
    will-change: opacity;
    transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.fade-enter,
.fade-leave-to {
    opacity: 0;
}
