.seat-resize-icon {
    position: absolute;
    right: -5px;
    bottom: -5px;
    width: 15px;
    height: 15px;
}
.seat-selected-color,
.seat-selected-color:hover {
    background-color: #11cdef;
}

.fade-enter-active,
.fade-leave-active {
    will-change: opacity;
    transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.fade-enter,
.fade-leave-to {
    opacity: 0;
}

.group-card {
    width: 300px;
    padding: 10px;
}

.card-stats {
    width: 200px;
}

.card {
    box-shadow: 0 0 2rem 0 rgba(136, 152, 170, 0.15);
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 0.375rem;
}

.table {
    box-shadow: 2px 2px 0.25rem 0 rgb(206 206 206);
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 0.375rem;
}

.btn-primary,
.btn-primary:hover {
    color: #fff;
    background-color: #5e72e4;
    border-color: #5e72e4;
}
